<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 p-4 text-center">Copyright © 2020. All Rights Reserved. </div>
            <div class="col-lg-6 p-4 text-right " >
                <ul>
                    <li class="item pr-2 pl-2">Home</li>
                    <li class="item pr-2 pl-2">FEATURES</li>
                    <li class="item pr-2 pl-2">Terms</li>
                    <li class="item pr-2 pl-2">Privacy</li>
                    <li class="item pr-2 pl-2">Contact US</li>
                </ul>
            </div>
            <div class="col-lg-2 p-4 text-center">
                <ul>
<!--
                    <li class="item text-white"><i class="fa fa-facebook-square" aria-hidden="true">xz</i></li>
                    <li class="item text-white"><i class="fa fa-facebook-square" aria-hidden="true">asd</i></li>
                    <li class="item text-white"><i class="fa fa-facebook-square" aria-hidden="true">asd</i></li>
-->
                </ul>
            </div>
        </div>
    </div>
</section>
