section{
    background-color: #595957;
    color: ffffff;
    font-size: 16px;
    font-family: Roboto;
    color: white;
}
ul{
    display:flex;
    list-style: none;
    text-align: right;
}
.item{
    margin:auto;
    padding: 0 20px 0 20px;
}